.done {
  text-decoration: line-through;
  color: green;
}

body {
  background-color: yellow;
  text-align: center;
  color: steelblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

li {
  cursor: pointer;
}
